<launch>

  <node name="cloud" pkg="cloud_coverage" type="cloud.py"/>
  <node name="plotter" pkg="cloud_coverage" type="plotter.py"/>
  <param name="offset" value="0.0 0.0 0.0"/>

  <group ns="BLUE">
    <param name="name" value="BLUE"/>
    <param name="initial_position" value="-1.5 -1 0"/>
    <param name="initial_angle" value="1.67"/>
    <param name="arrival_time" value="3"/>
    <node name="agent" pkg="cloud_coverage" type="simulator.py"/>
    <node name="controller" pkg="cloud_coverage" type="controller.py"/>
  </group>

  <group ns="RED">
    <param name="name" value="RED"/>
    <param name="initial_position" value="-0.5 -1 0"/>
    <param name="initial_angle" value="1.67"/>
    <param name="arrival_time" value="3"/>
    <node name="agent" pkg="cloud_coverage" type="simulator.py"/>
    <node name="controller" pkg="cloud_coverage" type="controller.py"/>
  </group>

  <group ns="GREEN">
    <param name="name" value="GREEN"/>
    <param name="initial_position" value="0.5 -1 0"/>
    <param name="initial_angle" value="1.67"/>
    <param name="arrival_time" value="3"/>
    <param name="departure_time" value="400"/>
    <node name="agent" pkg="cloud_coverage" type="simulator.py"/>
    <node name="controller" pkg="cloud_coverage" type="controller.py"/>
  </group>

  <group ns="MAGENTA">
    <param name="name" value="MAGENTA"/>
    <param name="initial_position" value="1.5 -1 0"/>
    <param name="initial_angle" value="1.67"/>
    <param name="arrival_time" value="3"/>
    <param name="departure_time" value="400"/>
    <node name="agent" pkg="cloud_coverage" type="simulator.py"/>
    <node name="controller" pkg="cloud_coverage" type="controller.py"/>
  </group>

  <node name="loader" pkg="cloud_coverage" type="landmarks_loader.py"/>

  <node name="record_path" pkg="rosbag" type="record" args="record /BLUE/pose /GREEN/pose /RED/pose /MAGENTA/pose /BLUE/controller_type /GREEN/controller_type /RED/controller_type /MAGENTA/controller_type  /BLUE/cloud_accesses /GREEN/cloud_accesses /RED/cloud_accesses /MAGENTA/cloud_accesses /coverage_errors /total_coverage_error -o $(find cloud_coverage)_ecc"/>

  <!-- <node name="record_path" pkg="rosbag" type="record" args="record /BLUE/reference -o $(find cloud_coverage)_turbine"/> -->

</launch>
